
<nav>
    <div class="site-title">
      <a href="/"><h1>Blog Site YSC</h1></a>
    </div>
    <ul>
      <li><a href="/">News|</a></li>
      <li><a href="about">About|</a></li>
      <li><a href="blog">New Blog</a></li>
    </ul>
  </nav>