<head>
    <%-include('partials/head.ejs')%>
</head>

<body>
    <%-include('partials/nav.ejs')%>
  

    <p> Lorem ipsum dolor sit amet consectetur 
    adipisicing elit. Reprehenderit laboriosam ipsam pariatur illum fugiat
    corrupti sint cupiditate sapiente, excepturi laborum modi et impedit dolorem iste.
    Repellendus quod incidunt ratione molestias.

     </p>
   <p>
        Lorem ipsum dolor sit amet consectetur 
    adipisicing elit. Reprehenderit laboriosam ipsam pariatur illum fugiat
    corrupti sint cupiditate sapiente, excepturi laborum modi et impedit dolorem iste.
    Repellendus quod incidunt ratione molestias.</p>

    
    <%-include('partials/footer.ejs')%>

</body>
</html>
